<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TresPoint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11EBE6B51FACD7CD00171DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11EBE6CC1FACD7CD00171DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11EBE6D71FACD7CD00171DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
